<div class="author">
    <h1 class="author_heading">Hi, my name is Juto</h1>
    <p class="author_body">web developer and machine learning engineer.</p>
</div>

<img src="/img/kali-red-sticker.webp" alt="kali wallpaper" class="kali papers" width="981" height="528">

<section>
    <h2 class="article_heading">Lastest Posts</h2>
    <ul>
        <li>
            <a href="a">
                <span>Post Title</span>
                <span class="articl-list_date">Date</span>
            </a>
        </li>
    </ul>

    <a href="a" class="pagination">&lt; View Older Posts</a>

</section>